﻿@{
    ViewBag.Title = "Fizz Buzz Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FizzBuzzApp.Models.FizzBuzzModel
@using PagedList.Mvc;

<div>
    <div>
        <h2>Fizz Buzz Application</h2>
        @using (@Html.BeginForm("GetList", "FizzBuzz", FormMethod.Get))
        {
            <div>
                @Html.ValidationSummary(true)
                <div>
                    <div>
                        @Html.LabelFor(m => m.Number)
                        @Html.TextBoxFor(m => m.Number)
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Number)
                    </div>
                </div>
                <input type="submit" value="Get List" />
            </div>
        }
    </div>
    <div>
        @if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Any())
        { 
            <ul>
                @foreach (var item in Model.FizzBuzzList)
                {
                    var words = item.Split(' ');
                    <li>
                        <div>
                            @foreach (var word in words)
                            {
                                <p class="@word">@word</p>
                            }
                        </div>
                    </li>
                }
            </ul>
            <p>
                @Html.PagedListPager((Model.FizzBuzzList), page => Url.Action("GetList", new { Page = page, Number = Model.Number }), PagedList.Mvc.PagedListRenderOptions.ClassicPlusFirstAndLast)
            </p>
        }
    </div>
</div>
